name: Build and deploy Python project to Azure Function App - vsvvvvv

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PYTHON_VERSION: '3.11' # Azure Functions v4 supports up to 3.11

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Create deployment package
        run: |
          mkdir package
          cp -r HttpExample host.json requirements.txt package/
          cd package
          zip -r ../functionapp.zip *

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: 'vsvvvvv'
          slot-name: 'Production'
          package: './functionapp.zip'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_339965EB457942D0B3B2A92062306C9A }}
